div#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  color: #ccc;
  background: #333;
  padding: 8px;
}

h1,
h2,
h3 {
  text-align: center;
  padding: 5%;
}

.form {
  padding: 10%;
  float: left;
}
